services:
  mongodb:
    image: mongo:latest
    ports:
      - "127.0.0.1:27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: L4run1Cert2025
      MONGO_INITDB_DATABASE: certification
    volumes:
      - mongodb_data:/data/db
    command: --auth
    restart: unless-stopped
    networks:
      - internal_network
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"      # MinIO API
      - "127.0.0.1:9001:9001"      # MinIO Console (UI)
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped
    networks:
      - internal_network
  nextjs:
    build: .
    container_name: nextjs
    
    # ports:
    #   - "3000:3000" # Expose Next.js on port 3000
    depends_on:
      - mongodb # Add dependency so Next.js starts after MongoDB
      - minio
    networks:
      - internal_network
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    depends_on:
      - nextjs
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - internal_network
networks:
  internal_network:
    driver: bridge  
volumes:
  mongodb_data:
  minio_data:
